In [3]:
# Extract the from the csv file and place it in a dataframe



import pandas as pd


df = pd.read_csv("troop_movements_1m.csv")
df.head()

,timestamp,unit_id,unit_type,location_x,location_y,destination_x,destination_y,homeworld
0,2023-06-03 03:19:15,919214,tie_silencer,2.0,5.0,9,3,Aleen Minor
1,2023-02-24 13:50:40,9467154,stormtrooper,9.0,0.0,9,1,Malastare
2,2023-03-29 19:54:55,6585778,tie_silencer,0.0,6.0,5,9,Serenno
3,2023-04-30 00:58:11,3878023,tie_silencer,4.0,2.0,9,9,Tund
4,2023-04-10 22:00:26,5537117,at-st,6.0,8.0,5,8,Skako

In [ ]:
# Grouped data showing counts unit types

counts = df['unit_type'].value_counts()
print(counts)

unit_type
tie_silencer          143216
tie_fighter           142753
at-at                 142724
resistance_soldier    142647
stormtrooper          142611
at-st                 142554
x-wing                142494
invalid_unit            1001
Name: count, dtype: int64